name: Update ICON-2I Sicily

on:
  schedule:
    - cron: '0 5,17 * * *' # Un po' dopo l'uscita dei modelli
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-data:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        sudo apt-get update && sudo apt-get install -y libeccodes-dev
        pip install -r requirements.txt

    - name: Run Processing
      run: python scripts/process_data.py

    - name: Deploy Data
      run: |
        git config --global user.name 'MeteoBot'
        git config --global user.email 'bot@users.noreply.github.com'
        git add data_weather/
        git commit -m "Update weather data" || echo "No changes"
        git push
        
