name: Update Meteo Data

on:
  schedule:
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libeccodes-dev
        python -m pip install --upgrade pip
        pip install requests xarray numpy cfgrib

    - name: Run Data Processor
      # Punta al tuo script nella cartella scripts
      run: python scripts/process_data.py

    - name: FORCE CLEANUP
      # Pulizia di sicurezza
      run: |
        rm -rf temp_processing
        rm -f temp.grib2
        rm -f *.idx

    - name: Commit and Push
      run: |
        git config --global user.name "MeteoBot"
        git config --global user.email "bot@meteo.it"
        
        git add data_weather/
        
        # Se ci sono modifiche, committa e pusha. Se no, non fa nulla (evita errori rossi)
        git diff --quiet && git diff --staged --quiet || (git commit -m "Aggiornamento dati meteo" && git push)
        
